
@font-face{
    font-family: 'digital';
    src: url('../fuentes/cambria.ttc');
}

body{
    background: -webkit-linear-gradient(top,#2a2e33, #ffffff);
    background: -moz-linear-gradient(top, #003c8f, #ffffff);
    background: -o-linear-gradient(top, #003c8f, #ffffff);
    background-repeat: no-repeat;
    font-family: 'digital';
}

#contenedorTblDatos{
    height: 450px;
    overflow: auto;
}
section{
    display: table; 
    border-spacing: 10px;
    width: 100%;
}

#contenido-tabla{
    display: table-row;
   
}

#tabla-izq{
    display: table-cell;
    width: 100px;
}


aside div{
    width: 90%;
    margin: 10px auto;
}
#logo{
    width: 45vh;
    transition: 2s;
}
#titulos {
   text-align: center;
   width: 100%;
}
h1 {
    font-family: "digital";
    text-align: center;
    color: #ffffff;
    
}

h2 {
    text-align: center;
    color: #ffffff;
}

#cabecera{
    width: 90%;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}

#agregarDat{
    background: rgb(59, 173, 59);
    border: none;
    color: honeydew;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}

#dato{
    padding: 5px;
    font-family: 'digital';
    font-size: 3vh;
    background: #2a2e33;
    color: white;
}

#Cabeceras{
    font: bold 18px verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px #003b8e5b;
}

#tablaDts{
    margin-left: 5%;
    font-family: 'digital';
    color: #003b8e;
    width: 100%;
}
#btnE{
    background: rgb(245, 95, 95);
    border: none;
    color: honeydew;
    padding: 3px;
    font-size: 15px;
}
#crearTabla{
    background: none;
    border: none;
    color: #fcfcfd;
    border-bottom: 1px solid #003b8e;
    padding: 3px;
    font-size: 15px;
}
#crearTabla:hover{
    cursor: not-allowed;
}

#contenedorTablaF{
    width: 100%;
    margin: auto;
    display: table-cell;
}

#contTablaF{
    overflow: auto;
    height: 300px;
    width: 100%;
}

#contenedorTablaF h3{
    width: 100%;
    text-align: center;
    font: bold 15px verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px #003b8e5b;
}

#contenedorTablaF #ajustarT{
    background: #003b8e;
    border: none;
    padding: 2px;
    color: white;
}

#contenedorTablaF #ajustarT:hover{
    cursor: not-allowed;
}

#tablaF{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-family: 'digital';
}

#tablaF th, #tablaF td{
    padding: 3vh;
}

#tablaF thead{
    background-color:#1564bf ;
    border-bottom:solid 5px #003b8e;
    color: white;
}

#tablaF tr:not(:nth-child(1)){
    color: #003b8e;
}

#tablaF tr:nth-child(even){
    background-color: #ddd;
}

#tablaF tr:hover td{
    background: #5e91f2;
    color: white;
}
#tendencia-central{
    display: table;
    border-spacing: 10px;
}
#contenido{
    display: table-row;
}

#titulo, #valores{
    display: table-cell;
    
}

#titulo{
    width: 50%;
}

#valores{
   width: 150px; 
}


footer{
    background: #003b8e;
    color: white;
    margin: 0;
    font: bold 12px verdana, sans-serif;
    padding: 5px;
}

footer a{
    color: white;
}

@media(max-width:975px){
    #contenedorTablaF{
        margin-left: 120px ;
    }
    #cabecera{
        flex-wrap: wrap;
    }
    #logo{
        width: 200px;
        margin: auto;
    }
}

@media(max-width:700px){

    section{
       display: inline;
        width: 100%;
        
    }

    #contenido-tabla{
        display: block;
    }
    
    #tabla-izq{
        display: block;
        width: 100px;
    }
    #contenedorTablaF{
        display: inline;
        width: 100%;
    }
    
    #tablaF{
        width: 100%;
    }

}