
@font-face{
    font-family: "SansPro";
    src: url("../fuentes/SourceSansPro-Regular.otf");
}

@font-face{
    font-family: "SansProBlack";
    src: url("../fuentes/SourceSansPro-Black.otf");
}

@font-face{
    font-family: "SansProLigth";
    src: url("../fuentes/SourceSansPro-Light.otf");
}

*{
    padding: 0;
    margin: 0%;
    font-family:"SansPro";
    font-weight: 400!important;
}


body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#add-datos{
    background-color: white;
    padding: 2vh 10vh;
    border-radius: 50px;
    border: 1px solid #003c8f;
    color: #003c8f;
    cursor: pointer;
}

#add-datos:hover{
    background-color: #003c8f;
    color: white;
}

#fondo-modal{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.637);
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    
}

#v-modal{
    background: linear-gradient(0deg,white 85%, #003c8f 15%);
    background: -webkit-linear-gradient(90deg,white 85%, #003c8f 15%);
    background: -o-repeating-linear-gradient(90deg,white 85%, #003c8f 15%);
    background: -moz-linear-gradient(90deg,white 85%, #003c8f 15%);
    
    width: 40%;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;    
}
#modal-cerrar{
    background:crimson;
    position: absolute;
    right: 5px;
    color: white;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
#titulo-modal {
    margin-top: -20px;
    font-family: "SansProBlack";
}
#cont-tabla-dts{
    height: 200px;
    width: 100px;
    overflow: auto;
}

#tbl-botones-add-tabla{
    display: table;
}

#noIntervalo{
    padding: 3px;
    font-size: 13px;
}

#contenedor-btn-add{
    display: table-row;
}

#cont-datos{
    display: table-cell;
}

#btn-datos{
    display: table-cell;
}

section{
    display: table; 
    border-spacing: 10px;
    width: 100%;
}

#contenido-tabla{
    display: table-row;
   
}

#logo{
    width: 35vh;
}
#titulos {
   text-align: center;
   width: 100%;
}
#titulos h1,h2, #fondo-modal h1 {
    text-align: center;
    color: #ffffff;  
    font-family: "SansProBlack";
    font-size: 5vh;
    
}

section h1{
    text-align: center;
}

#dist-binomial-normal{
    width: 350px;
    margin: auto;
    border: 1px solid #003c8f;
    border-radius: 20px;
}

#dist-binomial-normal table{
    width: 100%;
}

#dist-binomial-normal table tr:nth-child(1){
    background-color:#003c8f;
    color: white;
}

#dist-binomial-normal table tr:nth-child(1) td:nth-child(1){
    height: 50px;
    border-radius: 20px 20px 0 0;
}

#dist-binomial-normal table tr td{
    height: 50px;
}

#dist-binomial-normal input, select,button{
    padding: 3px;
    font-size: 13px;
}

#dist-binomial-normal button{
    border: 1px solid #003b8e;
    background-color: white;
    padding: 10px 25px;
    color: #003b8e;
    border-radius: 20px;
    cursor: pointer;
}

#dist-binomial-normal button:hover{
    background-color: #003b8e;
    color: white;
}

#distribuciones h1{
    color: #003c8f;
}

header{
    background-color: #003b8e;
    width: 100%;
}
#cabecera{

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding-bottom: 15px;
}

#agregarDat{
    background: rgb(59, 173, 59);
    color: honeydew;
    padding: 2px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    border-style: hidden;
    cursor: pointer;
}

#dato{
    padding: 5px;
    font-size: 3vh;
    background: #2a2e33;
    color: white;
    border-radius: 10px;
    border-style: hidden;
}

#Cabeceras{
    font: bold 18px verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px #003b8e5b;
}



#tablaDts{
    margin-left: 5%;
    color: #003b8e;
}
#btnE{
    background: rgb(245, 95, 95);
    border: none;
    color: honeydew;
    padding: 3px;
    font-size: 15px;
}
#crearTabla{
    background: none;
    border: 1px solid tomato;
    color: tomato;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    cursor: not-allowed;
}

#crearTabla:hover{
    background-color: tomato;
    color: white;
}

#contenedorTablaF{
    width: 100%;
    margin: auto;
    display: table-cell;
}

#contTablaF{
    overflow: auto;
    height: 400px;
    width: 100%;
    border: 1px solid #003b8e;
    border-radius: 30px 30px 0 0;
}

#contenedorTablaF h3{
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #003b8e;
}

#contenedorTablaF #ajustarT{
    background: white;
    border: 1px solid #003b8e;
    padding: 2px;
    padding: 5px;
    color: #003b8e;
    border-radius: 10px;
}

#contenedorTablaF #ajustarT:hover{
    cursor: not-allowed;
    background-color: #1564bf;
    color: white;
}

#contTablaF #tablaF{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#tablaF th, #tablaF td{
    padding: 3vh;
}

#tablaF thead tr th{
    background-color:#1564bf ;
    color: white;
   
}

#tablaF thead{
    border-bottom:solid 5px #003b8e;
}

#tablaF tr:not(:nth-child(1)){
    color: #003b8e;
}

#tablaF tr:nth-child(even){
    background-color: #ddd;
}

#tablaF tr:hover td{
    background: #5e91f2;
    color: white;
}
#tendencia-central{
    display: table;
    border-spacing: 10px;
}
#contenido{
    display: table-row;
}

#titulo, #valores{
    display: table-cell;
    
}

#titulo{
    width: 50%;
}

#valores{
   width: 150px; 
}


footer{
    background: #011c42;
    color: white;
    margin: 0;
    font-family: "SansProLigth";
    padding: 5px;
    line-height: 30px;
}

footer p{
   text-align: center;
}

footer a{
    color: white;
}

footer #logo-uni{
    margin: 1%;
}

@media(max-width:975px){
    #contenedorTablaF{
        margin-left: 120px ;
    }
    #cabecera{
        flex-wrap: wrap;
    }
    #logo{
        width: 200px;
        margin: auto;
    }
}

@media(max-width:700px){

    section{
       display: inline;
        width: 100%;
        
    }

    #v-modal{
        width: 80%;
    }

    #dato{
        width: 70%;
    }

    #contenido-tabla{
        display: block;
    }
    
    #tabla-izq{
        display: block;
        width: 100px;
    }
    #contenedorTablaF{
        display: inline;
        width: 100%;
    }
    
    #tablaF{
        width: 100%;
    }

    #dist-binomial-normal{
        width: 80%;
    }

}